@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

* {
    /* background-color: #1c1c1c; */
    color: #000000d9;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* display: block; */

}


.main {
    margin-top: 15px;
}

.cards1 {
    width: 700px;
    margin: auto;
    box-shadow: 0px 1px 8px #E21818;
    border-radius: 5px;
    z-index: 1;
}


.container1 {
    padding: 10px 30px;
}

.tvShowName {
    font-size: 2rem;
    padding-left: 20px;
    color: #000000d9;
    font-weight: bold;
}

.tvImages {
    display: flex;
}

.imgs {
    width: 170px;
    height: 220px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0px 1px 8px #FF4C29;
    z-index: 1;
    margin-bottom: 10px;

}

.imgs:hover {
    /* scale: 1.05; */
    -webkit-animation: scale 4.5s linear;
    animation: scale .4s linear;
    animation-fill-mode: forwards;
}

@keyframes scale {

    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
}

.contents1 {
    font-size: 18.5px;
}

.button {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    /* border: 2px solid pink; */
    /* padding-right: 0; */
    margin-bottom: 10px;
}

.read {
    background: #E21818;
    color: white;
    border: 0;
    font-size: 18.5px;
    cursor: pointer;
    border-radius: 3px;
    /* border: 2px solid blue; */
    height: 40px;
    width: 150px;
    margin: auto;
}

.read:hover,
.home:hover {
    background-color: white;
    color: #E21818;
    font-weight: bold;
    border: 1px solid #E21818;
}

.home {
    background: #E21818;
    color: white;
    border: 0;
    font-size: 18.5px;
    cursor: pointer;
    border-radius: 3px;
    /* border: 2px solid blue; */
    height: 40px;
    width: 90px;
    margin-left: auto;
}

.info {
    margin-top: 10px;
    line-height: 25px;
    /* font-size: 18px; */
    letter-spacing: .5px;
}

.head {
    display: flex;
    padding: 15px 15px 10px 5px;
    /* border: 2px solid palevioletred; */
}

@media only screen and (max-width: 768px) {
    * {
        font-size: 16px;
    }

    .main {
        margin: auto;
    }

    .cards1 {
        width: 600px;
        margin: auto;
        box-shadow: 0px 1px 8px #E21818;
        border-radius: 5px;
        z-index: 1;
    }
}

@media (max-width: 590px) {
    * {
        font-size: 16px;
    }

    .main {
        margin: auto;
    }

    .cards1 {
        width: 500px;
        margin: auto;
        box-shadow: 0px 1px 8px #E21818;
        border-radius: 5px;
        z-index: 1;
    }

    .read {
        font-size: 16px;
        height: 30px;
        width: 130px;
    }

    .home {
        font-size: 16px;
        cursor: pointer;
        height: 30px;
        width: 80px;
    }
}